<div class="wrapper">
	<div class="jumbotron">
	  <h1>Manly Drinks</h1>
	  <p>This is a simple search site of your favorite manly drinks.</p>
	  <p><a href="/drinks" class="btn btn-primary btn-lg">Let's get drinking!</a></p>
	</div>
</div>
